/*
Fonts:

font-family: 'Bree Serif', serif;
font-family: 'Acme', sans-serif;
font-family: 'Domine', serif;
font-family: 'Rokkitt', serif;


*/

*{
    margin: 0;
    padding: 0;
    font-family: 'Domine', serif;
}

#header{
    position: sticky;
    top: 0;
    z-index: 10px;
    line-height: 30px;
}

.navbar{
    /*background-image: linear-gradient(to right, #20B2AA, #008080);*/
    background-image: linear-gradient(to right, #a517ba, #5f1782);
    padding: 0 !important;
}

.navbar li{
    padding: 5px;
}

.navbar li a {
    color: #fff !important;
    font-weight: bold;
    float: left;
    text-align: left;
    transition: 0.8s;
    font-family: 'Acme', sans-serif;
}

.navbar li a:hover{
    transform: translateY(-5px);      
}

.fa-bars{
    color: #fff;
    font-size: 30px !important;
    text-align: right;
}

.navbar-toggler{
    outline: none !important;
}


/*--------------------- Landing -----------------------------*/
#landing{
    /*background-image: linear-gradient(to right, #20B2AA, #008080);*/
    background-image: linear-gradient(to right, #a517ba, #5f1782);
    color: #fff;
    padding-top: 5%;
    padding-bottom: 13%;
}

.landing-box{
    text-align: center;
    padding-left: 2.5%;
    padding-top: 120px;
}

.landing-box h1{
    font-weight: bold;
    text-transform: capitalize;
    font-size: 70px;
}

.landing-box p{
    font-weight: bold;
    text-transform: capitalize;
    font-size: 25px;
}

#landing .btn-outline-primary{
   border: 2px solid #ffffff;
   color: #ffffff;
   box-shadow: none;
   text-transform: uppercase;
   margin-top: 80px;
   padding: 10px 20px;
   background: #a517ba;
}

#landing a{
    text-decoration: none;
    color: #ffffff;
}

/*----------------------------- About Me ------------------------*/
#about{
    padding-top: 80px;
    padding-bottom: 250px;
}
.profile-img{
    width: 200px;
    border-radius: 50%;
    margin-right: 50px;
}

.title::before{
    content: '';
    background: #7b1798;
    height:5px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(55px);
}

.title::after{
    content: '';
    background: #7b1798;
    height:10px;
    width: 90px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
    display: block;
    transform: translateY(9px);
}

.about-box{
    padding-top: 60px;
}


/*---------------------- Work ----------------------*/

#work{
    background-image: linear-gradient(to right, #a517ba, #5f1782);
    color: #fff;
    padding-top: 5%;
    padding-bottom: 5%;
}

.title-white::before{
    content: '';
    background: #ffffff;
    height:5px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(55px);
}

.title-white::after{
    content: '';
    background: #ffffff;
    height:10px;
    width: 90px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
    display: block;
    transform: translateY(9px);
}

.work-description{
    padding-left: 2px;
    list-style: none;
}

.tick{
    padding-right: 10px;
}
#work hr{
    height: 0.1px;
    width: 100%;
    background: #ffffff;
}

/*---------------------- Education -----------------------------*/
#education{
    padding-top: 50px;
    padding-bottom: 230px;
}

#education hr{
    height: 0.1px;
    width: 100%;
    background: #5f1782;
}